<h2>Sign up!</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= fields_for @student do |reg_form| %>
      <p>
        <%= reg_form.label :first_name %>
        <%= reg_form.text_field :first_name %>

        <%= reg_form.label :last_name %>
        <%= reg_form.text_field :last_name %>
      </p>
    <%end%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "button round" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
