<%= @student.full_name %><br>
<%= @student.email %>
<br>
<table>
  <tr>
    <th>Classes</th>
    <th>Month</th>
    <th>Role</th>
    <th>Paid?</th>
    <th>Delete</th>
  </tr>
  <% @student.courses.each do |course| %>
    <tr>
      <td><%= course.title %></td>
      <td><%= course.meeting_dates.first.second.strftime('%B') %></td>
      <td><%= course.course_registrations.where(student_id: params[:id]).first.role %></td>
      <td><%= course.course_registrations.where(student_id: params[:id]).first.paid %></td>
      <td>
        <%= link_to 'Delete',
          course_registration_path(course.course_registrations.where(student_id: params[:id]).first.id),
          method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

<% if @student.owes_money?(Date.today.month) %>
  STRIPE PAY LINK HERE
<% elsif @student.owes_money?(Date.today.month.next) %>
  STRIPE GOES HERE TOO
<% end %>
<br><br><%= link_to 'Back to classes list', courses_path %>
