
  <% if current_user && (current_user.admin? || current_user.student == @student) %>
    <%= @student.full_name %><br>
    <%= @student.email %>
    <br>
    <%= paginate @courses %>
    <table>
      <tr>
        <th>Classes</th>
        <th>Month</th>
        <th>Role</th>
        <th>Paid?</th>
        <% if current_user.admin? %>
          <th>Delete</th>
        <% end %>
      </tr>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.title %></td>
          <td><%= course.meeting_dates.first.second.strftime('%B') %></td>
          <td><%= course.course_registrations.where(student_id: params[:id]).first.role %></td>
          <td><%= course.course_registrations.where(student_id: params[:id]).first.paid %></td>
          <% if current_user.admin? %>
            <td>
              <%= button_to 'Delete',
                course_registration_path(course.course_registrations.where(student_id: params[:id]).first.id), data: { confirm: "Are you sure?" },
                method: :delete, class: "button tiny round" %>
            </td>
          <%end%>
        </tr>
      <% end %>
    </table>
  <% end %>

<%= link_to 'Back to classes list', courses_path %>
