<%= form_for instructor do |f| %>
  <div>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :photo_url %>
    <%= f.text_field :photo_url %>
  </div>

  <div>
    <%= f.label :video_url %>
    <%= f.text_field :video_url %>
  </div>

  <div>
    <%= f.label :user_id %>
    <%= f.select :user_id, users %>
  </div>

  <%= f.submit "Submit Instructor", class:"button round" %>
<% end %>
