<div class="small-12 columns">
<% @instructors.each do |instructor| %>
PICTURE
<div class="instructor-title"> <%= instructor.full_name %> <span><%= instructor.email %>
  <% if current_user && current_user.admin? %>
    <%= button_to 'Edit Instructor', edit_instructor_path(instructor), class: "button tiny round", method: :get %>
    <%= button_to 'Delete Instructor', instructor_path(instructor), method: :delete, class: "button tiny round" %></span></div>
  <%end%>
<div class="course-info"><%= instructor.body %></div>
VIDEO<br>
<hr>
</div>
<%end%>
<div class="instructor-title"> Add a new instructor </div>
<%= render partial: "instructor_form", locals: {instructor: @instructor} %>
</div>
