<div class="small-12 columns">
<% @instructors.each do |instructor| %>
PICTURE
<div class="instructor-title"> <%= instructor.full_name %> <span><%= instructor.email %>
<%= button_to 'Edit Instructor', edit_instructor_path(instructor), class: "button tiny round"%>
<%= button_to 'Delete Instructor', instructor_path(instructor), method: :delete, class: "button tiny round"%></span></div>
<div class="course-info"><%= instructor.bio %></div>
VIDEO<br>
<hr>
<%end%>
<div class="instructor-title"> Add a new instructor </div>
<%= render partial: "instructor_form", locals: {instructor: @instructor} %>
</div>
