<div class="small-12 columns">
  <% @instructors.each do |instructor| %>
    <div class="row no-padding">
      <div class="instructor-title">
        <%= instructor.full_name %><span>
        <% if current_user && (current_user.admin? || current_user.instructor == instructor) %>
          <%= button_to 'Edit Instructor', edit_instructor_path(instructor), class: "button tiny round", method: :get %>
          <%= button_to 'Delete Instructor', instructor_path(instructor), data: { confirm: "Are you sure?" }, method: :delete, class: "button tiny round" %>
        <%end%>
        </span>
      </div>
      <div class="course-info">
        <span>
          <% if instructor.photo_url %>
            <%= image_tag instructor.photo_url, size: '125', alt: "New School Swing" %>
          <%end%>
        </span>
        <%= instructor.body %>
      </div>
    </div>
    <div>
      <% if instructor.video_url %>
        <div class="flex-video">
          <iframe width="666" height="375" src="<%= instructor.video_url %>" frameborder="0" allowfullscreen>
          </iframe>
        </div>
      <%end%>
    </div>
    <hr>
  <%end%>
  <% if current_user && current_user.admin? %>
    <div class="instructor-title"> Add a new instructor </div>
    <div>
      <%= render partial: "instructor_form", locals: {instructor: @instructor, users: @users} %>
    </div>
  <%end%>
</div>
