<div class="small-12 columns">
<% @venues.each do |venue| %>
  <div class="venue-title">
    <%= venue.building_name %><br>
    <span><%= venue.address %><br>
    <%= button_to 'Edit Venue', edit_venue_path(venue.id), class: "button tiny round"%>
    <%= button_to 'Delete Venue', venue_path(venue.id), class: "button tiny round", method: :delete %></span>
  </div>
  <hr>
<%end%>
<%= render partial: "venue_form", locals: {venue: @venue} %>
</div>
