<%= form_for course_review do |f| %>
  <div>
    <%= f.label :name, "Name (optional):" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%if course %>
    <%= f.hidden_field(:course_id, value: course.id) %>
  <%end%>

  <%= f.submit 'Submit Review', class:"button round" %>
<% end %>
