<%= form_for course do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :time %>
    <%= f.text_field :time %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.label :venue_id %>
    <%= f.select :venue_id, Venue.all.map {|a| [a.building_name, a.id] } %>
  </div>

  <%= collection_check_boxes(:course, :instructor_ids, Instructor.all, :id, :full_name) %>

  <div>
    <%= label_tag :meeting_date %>
    <%= select_tag :meeting_date, options_for_select(dates) %>
  </div>

  <div>
    <% prefix = "course[meeting_date][]" %>
    <%= fields_for prefix, date do |reg_form| %>
      <p> <h6> New Date </h6>
        <%= reg_form.label "First Date" %>
        <%= reg_form.date_field :first %>
      </p>
    <%end%>
  </div>


  <%= f.submit 'Submit Course', class:"button round" %>
<% end %>
