<h1>Classes list!</h1>

<% @upcoming_courses.each do |month| %>
  <% month.each do |weekday| %>
    <% weekday.courses.each do |course| %>
      <li><%= link_to course.title, course_path(course) %></li>
      <li><%= course.description %></li>
      <%= course.venue.building_name %>
      <%= course.time %>
      <% course.instructors.each do |instructor| %>
        <%= instructor.full_name %>,
        <%end%>
        <b>more info</b>
      <br>
      <%= course.meeting_dates.first.first.strftime('%B %e') %>,
      <%= course.meeting_dates.first.second.strftime('%B %e') if course.meeting_dates.first.second %>,
      <%= course.meeting_dates.first.third.strftime('%B %e') if course.meeting_dates.first.third %>,
      <%= course.meeting_dates.first.fourth.strftime('%B %e') if course.meeting_dates.first.fourth %>

      Leads: <%= (course.registrations.map { |student| student.role }).count("Lead") %>
      Follows: <%= (course.registrations.map { |student| student.role }).count("Follow") %>
      <br><br>
    <%end%>
  <% end %>
  <%= button_to "Register for #{month.first.second.strftime('%B')} classes", new_student_path, method: :get, params: {month: Date.today.month} %>
  <br><br>
<% end %>
