<div class="small-12 columns">
<% @upcoming_courses.each do |month| %>
<div class="month-courses">
<h3><%= month.first.second.strftime('%B') %> Classes</h3><hr>
  <% month.each do |weekday| %>
  <div class="medium-6 columns">
    <h5><%= weekday.first.strftime( '%A' )%></h5><hr>
    <% weekday.courses.each do |course| %>
    <%= course.time %><br>
    <div class="course-title">
      <%= link_to "#{course.title}: #{course.description}", course_path(course) %><br>
    </div>
    <div class="course-info">
      <%= course.venue.building_name %><br>
      <% course.instructors.each do |instructor| %>
        <%= instructor.full_name %>,
        <%end%>
        <b>more info</b>
      <br>
      <%= course.meeting_dates.first.first.strftime('%B %e') %>,
      <%= course.meeting_dates.first.second.strftime('%B %e') if course.meeting_dates.first.second %>,
      <%= course.meeting_dates.first.third.strftime('%B %e') if course.meeting_dates.first.third %>,
      <%= course.meeting_dates.first.fourth.strftime('%B %e') if course.meeting_dates.first.fourth %>
      <br>
      Leads: <%= (course.course_registrations.map { |student| student.role }).count("Lead") %>
      Follows: <%= (course.course_registrations.map { |student| student.role }).count("Follow") %>
      <% if current_user && current_user.admin? %>
        <div class="course-buttons">
          <div class="inline"><%= button_to 'Edit Course', edit_course_path(course), class: "button tiny round", method: :get %></div>
          <div class="inline"><%= button_to "Delete Course", course_path(course.id), method: :delete, class: "button tiny round" %></div>
        </div>
      <%end%>
    </div>
      <hr>
    <%end%>
  </div>

  <% end %>

  <% if current_user && current_user.student %>
    <%= button_to "Register for #{month.first.second.strftime('%B')} Classes", new_student_registration_holder_path(current_user.student.id), method: :get, class: "button round" %>
  <%else%>
    <%= button_to "Register for #{month.first.second.strftime('%B')} Classes", new_student_path, method: :get, class: "button round" %>
  <%end%>
</div>

<% end %>
</div>
