
  <%= @class.title %>
  <%= @class.time %><br>
  <div class="course-title">
    <%= link_to "#{@class.title}: #{@class.description}", course_path(@class) %><br>
  </div>
  <div class="course-info">
    <%= @class.venue.building_name %><br>
    <% @class.instructors.each do |instructor| %>
      <%= instructor.full_name %>,
      <%end%>
      <b>more info</b>
    <br>
    <%= @class.meeting_dates.first.first.strftime('%B %e') %>,
    <%= @class.meeting_dates.first.second.strftime('%B %e') if @class.meeting_dates.first.second %>,
    <%= @class.meeting_dates.first.third.strftime('%B %e') if @class.meeting_dates.first.third %>,
    <%= @class.meeting_dates.first.fourth.strftime('%B %e') if @class.meeting_dates.first.fourth %>
    <br>
    Leads: <%= (@class.course_registrations.map { |student| student.role }).count("Lead") %>
    Follows: <%= (@class.course_registrations.map { |student| student.role }).count("Follow") %>
  </div>
    <div class="course-info">
    <h5>Course Description:</h5>
    <%= @class.body if @class.body%>
    </div>
    <div class="course-info">
      <h5>Please give us feedback on how we're doing.</h5>
        We'd love your feedback! We want to make the studio the most useful and fun studio we can so anything you can say to help us out would be great.
        Positive feedback will help us know what to keep doing well. Constructive criticism will help us focus on what we should improve.
        Please remember we're passionate folks trying to make the world a better place through swing dancing. For more on that, read this:
        http://www.mikethegirl.com/1/post/2011/11/the-importance-of-non-evil.html. For specific ideas of what we'd like to know: Who are your
        favorite teachers and why? Are there teachers that need work and, if so, what could they do better? What classes do you like and why? What classes weren't
        as great and why? What classes would you like to see more of? What classes don't we teach that you'd like us to teach?
        What do you think of our audition process? Thanks in advance!<br><br>
      <%= render partial: "course_review_form", locals: { course_review: @course_review, course: @class } %>
    </div>
  <% if current_user && (current_user.admin? || @class.instructors.include?(current_user.instructor)) %>
  <%= paginate @students %>
    <table>
      <tr>
        <th>Student</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Paid?</th>
        <th>Delete</th>
      </tr>
      <% @students.each do |student| %>
        <tr>
          <td><%= link_to student.full_name, student_path(student.id) %></td>
          <td><%= student.email %></td>
          <td><%= student.course_registrations.where(course_id: params[:id]).first.role %></td>
          <td><%= student.course_registrations.where(course_id: params[:id]).first.paid %></td>
          <td>
            <%= link_to 'Delete',
              course_registration_path(student.course_registrations.where(course_id: params[:id]).first.id), data: { confirm: "Are you sure?" },
              method: :delete %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="course-buttons">
      <div class="inline"><%= button_to 'Edit Course', edit_course_path(@class), class: "button tiny round", method: :get %></div>
      <div class="inline"><%= button_to "Delete Course", course_path(@class.id), data: { confirm: "Are you sure?" }, method: :delete, class: "button tiny round" %></div>
    </div>

    <%if @course_reviews != [] %>
      <% @course_reviews.each do |review| %>
      <div>
        <%= review.name if review.name %><br>
        <%= review.body %>
      </div>
      <%end%>
    <%end%>

  <% end %>
  <br><br><%= link_to 'Back to classes list', courses_path %>
