<div class="post-title">
  About New School Swing
</div>
<div class="post-body">
  New School Swing promotes swing dancing in Boston by providing year-round swing dance classes for all levels. We specialize in authentic, vintage swing dance forms like Lindy Hop, Charleston, and Balboa and we offer a fun, friendly, inclusive learning environment. Four-week class series begin every month—see our <%= link_to "schedule", courses_path %> for the latest classes.
</div>
<div class="posts-holder">
  <% @posts.each do |post| %>
    <div class="post-title">
      <%= post.title %>
    </div>
    <div class="post-body">
      <%= post.created_at.strftime('%B %e') %>, <%= post.created_at.year %>
    </div>
    <div class="post-body">
      <%= post.body %>
    </div>
    <% if current_user && current_user.admin? %>
      <%= button_to "Edit Post", edit_post_path(post), class: "button tiny round", method: :get %>
      <%= button_to "Delete Post", post_path(post), data: { confirm: "Are you sure?" }, method: :delete, class: "button tiny round" %>
    <% end %>
  <%end%>
</div>

<div>
  <div class="post-title">What is Lindy Hop?</div>
  <div class="post-body">
    Lindy Hop is the original Swing Dance, developed in Harlem in the 1920s and 1930s.
    Our friends at <%= link_to "Yehoodi", "http://yehoodi.com/" %> made a nice video history of the dance.
  </div>
  <div class="flex-video">
    <iframe width="666" height="375" src="https://www.youtube.com/embed/6fDIPCuGpjE" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>
<div class="post-title">
  What is Lindy Dojo?
</div>
<div class="post-body">
  Lindy Dojo is New School Swing's weekly practice session.
</div>
<div class="post-body">
  All students who take classes at New School Swing will be able to attend Lindy Dojo for free! Why are we doing this? Social dancing is both fun and one of the best ways to get better. So are private lessons. Many students can't afford the $25-$100 price of a private lesson, but a guided practice session is like a 5 minute private lesson. We want to encourage beginners and intermediates to stay for the practice session to practice with each other, have a good time dancing, and to work one-on-one with instructors.
</div>
<div class="post-body">
  Visit the <%= link_to "Dojo page", dojos_path %> for more info.
</div>
<div class="post-title">
  Please give us feedback on how we're doing.
</div>
<div class="post-body">
    We'd love your feedback! We want to make the studio the most useful and fun studio we can so anything you can say to help us out would be great.
    Positive feedback will help us know what to keep doing well. Constructive criticism will help us focus on what we should improve.
    Please remember we're passionate folks trying to make the world a better place through swing dancing. For more on that, <%= link_to "read this",
    "http://www.mikethegirl.com/1/post/2011/11/the-importance-of-non-evil.html" %>. For specific ideas of what we'd like to know: Who are your
    favorite teachers and why? Are there teachers that need work and, if so, what could they do better? What classes do you like and why? What classes weren't
    as great and why? What classes would you like to see more of? What classes don't we teach that you'd like us to teach?
    What do you think of our audition process? Thanks in advance!<br><br>
  <%= render partial: "/courses/course_review_form.html.erb", locals: { course_review: @course_review, course: false } %>
</div>
