<!DOCTYPE html>
<html>
<head>
  <title>NssBreakableSite</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">NssBreakableSite</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <div class="medium-3 columns">
    <h1> Nav Bar </h1>

    <ul class="side-nav">
      <li><%= link_to 'Classes list', courses_path %></li>
    </ul>
    <h3>Class Pricing</h3>
    <h5>Single Series</h5>
    <table class="side-nav">
      <tr><th></th><th>Online</th><th>At the door</th></tr>
      <tr><td>Student</td><td>$40</td><td>$50</td></tr>
      <tr><td>General</td><td>$50</td><td>$60</td></tr>
    </table>
    <h5>Multiple Series</h5>
    <table class="side-nav">
      <tr><th></th><th>Online</th><th>At the door</th></tr>
      <tr><td>Student</td><td>$70</td><td>$90</td></tr>
      <tr><td>General</td><td>$90</td><td>$110</td></tr>
    </table>
</div>
<div class="small-12 medium-9 columns">
  <%= yield %>
</div>
  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
